#### Heroes Of Pymoli Data Analysis
* 56% of all playerbase are between age 20 to 24.

* 84% of playerbase are male while 14% of playerbase are female.

* While male player wins by big margin, female player spend $0.4 more on average per person.
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
player_count = len(purchase_data['SN'].unique())
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
unique_items = len(purchase_data['Item Name'].unique())
avg_price = round(purchase_data['Price'].mean(),2)
number_purchased = len(purchase_data['Item Name'])
total_revenue = purchase_data['Price'].sum()


purchase_summary = pd.DataFrame({'Number of Unique Items': [unique_items],
                                 'Average Price': [avg_price],
                                 'Number of Purchases': [number_purchased],
                                 'Total Revenue': [total_revenue]
                                 })
purchase_summary

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
df_gender_count = purchase_data.groupby('Gender')['SN'].nunique()
len(df_gender_count)

3

In [7]:
df_gender_percent = round(df_gender_count/576, 2)
len(df_gender_percent)

3

In [8]:
gender_summary = pd.DataFrame({'Gender': ['Female', 'Male', 'Other / Non-Disclosedr'],
                                'Total Count': df_gender_count,
                               'Percentage of Players': df_gender_percent
                                })
gender_summary

,Gender,Total Count,Percentage of Players
Gender,,,
Female,Female,81,0.14
Male,Male,484,0.84
Other / Non-Disclosed,Other / Non-Disclosedr,11,0.02


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
df_gender = purchase_data.groupby(['Gender'])
buy_count = df_gender['SN'].count()
buy_price = df_gender['Price'].mean()
buy_total = df_gender['Price'].sum()
buy_avg_gender = buy_total / df_gender_count
purchaseing_gender_summary = pd.DataFrame({
                                           'Purchase Count': buy_count,
                                           'Average Purchase Price': buy_price,
                                           'Total Purchase Value': buy_total,
                                           'Avg Total Purchase per Person': buy_avg_gender
    
                                            })
purchaseing_gender_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [10]:
bins = [0, 10, 15, 20, 25, 30, 35, 40, 500]
group_name = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
data_bin = purchase_data.copy()
data_bin['Age Group'] = pd.cut(data_bin['Age'], bins, labels=group_name )
df_bin = data_bin.groupby(['Age Group'])

bin_player_count = df_bin['SN'].count()
bin_percentage = round(bin_player_count / player_count, 2)

Age_group_summary = pd.DataFrame({'Total Count': bin_player_count,
                                  'Percentage of Players': bin_percentage})
Age_group_summary

           Total Count  Percentage of Players
Age Group
<10                 32                   0.06
10-14               54                   0.09
15-19              200                   0.35
20-24              325                   0.56
25-29               77                   0.13
30-34               52                   0.09
35-39               33                   0.06
40+                  7                   0.01

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
bin_p_avg = df_bin['Price'].mean()
bin_p_total = df_bin['Price'].sum()
bin_app = bin_p_total / bin_player_count

purchasing_analysis_summary = pd.DataFrame({'Purchase Count': bin_player_count,
                                            'Average Purchase Price': bin_p_avg,
                                            'Total Purchase Value': bin_p_total,
                                            'Avg Total Purchase per Person': bin_app})
purchasing_analysis_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,32,3.405000,108.96,3.405000
10-14,54,2.900000,156.60,2.900000
15-19,200,3.107800,621.56,3.107800
20-24,325,3.020431,981.64,3.020431
25-29,77,2.875584,221.42,2.875584
30-34,52,2.994423,155.71,2.994423
35-39,33,3.404545,112.35,3.404545
40+,7,3.075714,21.53,3.075714

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
df_sn = purchase_data.groupby(['SN'])
df_sn_count = df_sn['Item ID'].count()
df_sn_total = df_sn['Price'].sum()
df_sn_avg = df_sn_total / df_sn_count
top_spenders_summary = pd.DataFrame({'Purchase Count': df_sn_count,
                         'Average Purchase Price': df_sn_avg,
                         'Total Purchase Value': df_sn_total})
top_spenders_summary = top_spenders_summary.sort_values('Total Purchase Value', ascending=False)
top_spenders_summary.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [13]:
df_item = purchase_data.groupby(['Item ID', 'Item Name'])
df_item_pc = df_item['SN'].count()
df_item_sum = df_item['Price'].sum()
df_item_p = df_item_sum / df_item_pc
df_item_v = df_item_pc * df_item_p
most_popular_items = pd.DataFrame({'Purchase Count': df_item_pc,
                                   'Item Price': df_item_p,
                                   'Total Purchase Value': df_item_v})
most_popular_items = most_popular_items.sort_values('Purchase Count', ascending=False)
most_popular_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [14]:
most_profitable_items = most_popular_items.sort_values('Total Purchase Value', ascending=False)
most_profitable_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80